@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/*@import 'base/fontface'; */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

/*@import 'base/fontface'; */
.footerContainer {
  background-color: black;
  color: white;
  flex-direction: column;
  padding: 5px 0 0 10px;
  width: 100%;
}

.footerTitle {
  font-family: Shrikhand, cursive;
}

.footersection {
  padding: 10px;
}

.footerText {
  font-family: Roboto, sans-serif;
  display: block;
}
.footerText .footIcon {
  padding-right: 5px;
}

/*@import 'base/fontface'; */
.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

/*@import 'base/fontface'; */
/*@import 'base/fontface'; */
.hoverbutton:hover {
  box-shadow: 0 10px 4px #BBB;
}

/*choose dish 
*/
.hideText {
  transition: all 0.49s ease-in-out;
}

.price {
  transition: all 0.5s ease-in-out;
}

.btncheck {
  transition: all 0.5s ease-in-out;
}
.btncheck .colourButton {
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

.productCard:hover .price {
  left: 185px;
}
.productCard:hover .btncheck {
  left: 225px;
}
.productCard:hover .btncheck .colourButton {
  transform: rotate(0deg);
}
.productCard:hover .hideText {
  width: 60%;
}

.header {
  width: 100%;
  display: flex;
}
.header .OhmyfoodLogo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.header .OhmyfoodLogo .OhmyfoodLogoImg {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.subHead {
  background-color: #cccccc;
  text-align: center;
  width: 100%;
  box-shadow: 0 5px 5px -3px inset;
}

.subHeadText {
  font-family: Roboto, sans-serif;
}

.subHead2 {
  background-color: #F2F2F2;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.subHead2 .explorerestru {
  background: rgb(255, 121, 218);
  background: linear-gradient(125deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 40%;
  box-shadow: 0 3px 4px #BBB;
}

.How-it-works-container {
  padding: 20px;
}
.How-it-works-container .How-it-works-body {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; */
}
.How-it-works-container .How-it-works-body .How-it-works-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 25px;
  background-color: #F2F2F2;
  width: 90%;
  height: 70px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 3px 4px #BBB;
}
.How-it-works-container .How-it-works-body .How-it-works-buttons .circlebox {
  background-color: #9356DC;
  margin-right: 132px;
  border-radius: 50%;
  padding: 6px;
  height: 33px;
  margin-top: 15px;
}
.How-it-works-container .How-it-works-body .How-it-works-buttons .IconStyle {
  margin: 20px 20px 0 0;
}

.RestaurantOptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding: 30px;
  /* .RestaurantOptionsTitleBox {
      padding-left: 10px;
  } */
}
.RestaurantOptions .column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.RestaurantOptions .column .productRestruCard {
  color: black;
  height: 240px;
  width: 90%;
  /* box-shadow: 0 3px 4px #BBB;
  border-radius: 15px; */
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru {
  background-color: white;
  box-shadow: 0 3px 4px #BBB;
  border-radius: 15px;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .sectionCardRestruimg {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .sectionCardRestruCaption {
  padding-left: 10px;
  display: flex;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .sectionCardRestruCaption .captiontext {
  width: 90%;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .sectionCardRestruCaption .heartIcon {
  padding-top: 40px;
  display: flex;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .colourhover {
  cursor: pointer;
  transition: all 0.5s;
}
.RestaurantOptions .column .productRestruCard .sectionCardRestru .colourhover .colourhover:hover {
  background: rgb(255, 121, 218);
  background: linear-gradient(125deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}

/*@import 'base/fontface'; */
/*@import 'base/fontface'; */
.hoverbutton:hover {
  box-shadow: 0 10px 4px #BBB;
}

/*choose dish 
*/
.hideText {
  transition: all 0.49s ease-in-out;
}

.price {
  transition: all 0.5s ease-in-out;
}

.btncheck {
  transition: all 0.5s ease-in-out;
}
.btncheck .colourButton {
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

.productCard:hover .price {
  left: 185px;
}
.productCard:hover .btncheck {
  left: 225px;
}
.productCard:hover .btncheck .colourButton {
  transform: rotate(0deg);
}
.productCard:hover .hideText {
  width: 60%;
}

.menuheader .menuHeaderContainer {
  width: 100%;
  display: flex;
}
.menuheader .menuHeaderContainer .OhmyfoodLogo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.menuheader .menuHeaderContainer .OhmyfoodLogo .OhmyfoodLogoImg {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
.menuheader .menuHeaderContainer .BackButtonContainer {
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.menuheader .menuHeaderContainer .BackButtonContainer .backarrow {
  color: black;
}

.MenuBanner {
  display: flex;
  width: 100%;
  height: 512px;
  z-index: -1;
}
.MenuBanner .menuBannerimg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.MenuContainer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
  padding: 10px;
  position: absolute;
  top: 530px;
  width: 100%;
}
.MenuContainer .MenuTitleboxContainer {
  display: flex;
}
.MenuContainer .MenuTitleboxContainer .MenuTitleBox {
  width: 90%;
}
.MenuContainer .MenuTitleboxContainer .MenuTitleBox .subHeadTitle {
  font-family: Shrikhand, cursive;
}
.MenuContainer .MenuTitleboxContainer .heartIcon2 {
  padding-top: 20px;
}
.MenuContainer .MenuSubTitlebox {
  text-transform: uppercase;
}
.MenuContainer .MenuSubTitlebox::after {
  content: "";
  border-top: 3px solid #99E2D0;
  display: block;
  width: 10%;
}
.MenuContainer .productCard {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  height: 100px;
  box-shadow: 0 3px 4px #BBB;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.MenuContainer .productCard .hideText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MenuContainer .productCard .btncheck {
  right: -106px;
  top: 0;
  position: absolute;
  background-color: #99E2D0;
  border: none;
  height: 100%;
  width: 100px;
  border-radius: 0 10px 10px 0;
}
.MenuContainer .productCard .btncheck .colourButton {
  color: white;
  font-size: 30px;
}
.MenuContainer .productCard .price {
  bottom: -2px;
  right: -5px;
  position: absolute;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
}
.MenuContainer .Menusection {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.MenuContainer .OrderButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.MenuContainer .OrderButton {
  background: rgb(255, 121, 218);
  background: linear-gradient(125deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 25px;
  border: none;
  height: 30px;
  width: 10%;
  box-shadow: 0 3px 4px #BBB;
}/*# sourceMappingURL=main.css.map */