@import 'mixins',
'variables';

/*
    LOADER
*/
.loaderContainer {
    position: fixed;
    //display: flex;
    //align-items: center;
    //padding: 50%;
    //margin: auto;

    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255, .5);

    animation: loaderbackground 0.5s;
    animation-fill-mode: forwards;
    z-index: 100;
    animation-delay: 1s;
    top: 0;
    left: 0;

    .loader {
        border: aqua 16px solid;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        animation: loader 0.5s linear;

    }

}

@keyframes loaderbackground {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hoverbutton:hover {
    @include buttoneffect;
    opacity: 0.8;
}



/*choose dish 
*/
.hideText {
    transition: all 0.10s ease-in-out;

}

.price {
    transition: all 0.50s ease-in-out;

}

.btncheck {
    transition: all 0.90s ease-in-out;

    .colourButton {
        transform: rotate(360deg);
        transition-duration: 0.70s;

    }


}

.productCard:hover {
    .price {
        left: 200px;
    }

    .btncheck {
        left: 250px;

        .colourButton {
            transform: rotate(0deg);

        }

    }

    .hideText {
        width: 60%;

    }
}

//cards load animation

.MenuSectionContainer {
    animation-name: menuloader;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

.Entrees {
    animation-delay: 0.20s;
    //-moz-animation-delay: 0.20s;
}

.MainDish {
    animation-delay: 0.60s;
    //-moz-animation-delay: 0.60s;

}

.Desserts {
    animation-delay: 1.5s;
    //-moz-animation-delay: 1.5s;
}



@keyframes menuloader {

    /*
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
    */
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.colourIcon:hover {
    color: $primary-color;

}