@import '../base/fontface';
/*@import 'base/fontface'; */

$bodytext: Roboto;
$titletext: Shrikhand;
$componentmobilewidth: 100%;
$footercolor: black;
$footerfontcolor: white;
$Menucolor: #F2F2F2;

@mixin mainContainer {
    display: flex;
    flex-direction: column;
}

@mixin maintext($bodytext) {
    font-family: $bodytext, sans-serif;
}

@mixin titletext ($titletext) {
    font-family: $titletext, cursive;
}

@mixin headerBanner {
    width: $componentmobilewidth;
    display: flex;
}

@mixin ohmyfoodlogoContainer {
    display: flex;
    justify-content: center;
    margin: auto;
}

@mixin ohmyfoodlogo {
    width: 50%;
    object-fit: contain;
    margin: auto;
}

@mixin menuStyle {
    background-color: $Menucolor;
}

@mixin MenuBannerContainer {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;

    //justify-content: center;
    //argin: auto;
}

@mixin menuBannerimg {

    //max-height: 32rem;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    //margin: auto;

}



@mixin footerContainer ($footercolor, $footerfontcolor) {
    background-color: $footercolor;
    color: $footerfontcolor;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 0 0 10px;
    width: 100%;
}

@mixin buttongradient {
    background: rgb(255, 121, 218);
    background: linear-gradient(125deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
}