@import '../abstract/mixins';

.header {
    @include headerBanner;

    .OhmyfoodLogo {
        @include ohmyfoodlogoContainer;

        .OhmyfoodLogoImg {
            @include ohmyfoodlogo;
        }
    }


}

.subHead {
    background-color: #cccccc;
    //display: flex;
    text-align: center;
    width: $componentmobilewidth;

    .subHeadText {
        @include maintext(Roboto);
    }
}