@import '../abstract/mixins',
'../abstract/variables',
'../abstract/animations';

.menuheader {

    .menuHeaderContainer {
        @include headerBanner;

        .OhmyfoodLogo {
            @include ohmyfoodlogoContainer;

            .OhmyfoodLogoImg {
                @include ohmyfoodlogo;
            }
        }

        .BackButtonContainer {

            //width: 10%;
            .backarrow {
                color: black;
            }

            margin-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
        }
    }


}

.MenuBanner {
    //@include MenuBannerContainer;
    display: flex;
    width: 100%;
    height: 512px;
    z-index: -1;


    .menuBannerimg {
        //@include menuBannerimg;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}

.MenuContainermaster {
    position: relative;
}

.MenuContainer {

    display: flex;
    flex-direction: column;

    background-color: #f2f2f2;
    border-radius: 30px 30px 0 0;
    //z-index: 1;
    padding: 10px;
    position: absolute;
    top: 530px;
    width: 100%;

    .MenuTitleboxContainer {
        display: flex;


        .MenuTitleBox {
            width: 90%;


            .subHeadTitle {
                @include titletext(Shrikhand);
            }


        }

        .heartIcon2 {
            padding-top: 20px;
        }
    }

    .MenuSubTitlebox {
        text-transform: uppercase;
    }

    .MenuSubTitlebox::after {
        content: "";
        border-top: 3px solid $Tertiary-color;
        display: block;
        width: 10%;
    }

    .productCard {
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        height: 100px;
        box-shadow: 0 3px 4px #BBB;
        margin-top: 20px;
        position: relative;
        overflow: hidden;

        .hideText {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

        }

        .btncheck {
            right: -106px;
            top: 0;
            position: absolute;
            background-color: $Tertiary-color;
            border: none;
            height: 100%;
            width: 100px;
            border-radius: 0 10px 10px 0;


            .colourButton {
                color: white;
                font-size: 30px;
            }

        }


        .price {
            //float: right;
            bottom: -2px;
            right: -2px;
            position: absolute;
            font-weight: bold;
            padding-right: 20px;
            padding-left: 10px;
            @include maintext(Roboto);
        }
    }



    .Menusection {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        margin-bottom: 30px;


    }

    .OrderButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        //flex-wrap: wrap;
        margin-bottom: 30px;


    }

    .OrderButton {
        @include buttongradient;
        color: white;
        border-radius: 25px;
        border: none;
        height: 30px;
        width: 20%;
        box-shadow: 0 3px 4px #BBB;
    }
}