@import '../abstract/mixins';

.footerContainer {
    @include footerContainer(black, white);
}

.footerContainer2 {
    @include footerContainer2;
}


.footerTitle {
    @include titletext(Shrikhand);
}

.footersection {
    padding: 10px;
}

.footerText {
    @include maintext(Roboto);
    display: block;

    .footIcon {
        padding-right: 5px;
    }

}